<%= form_for [@project, @ticket] do |f| %> <co id="ch05_157_1"/>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br>
        </programlisting>
      </informalexample>
    <%= f.text_field :title %>
</p> <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <%= f.submit %>
<% end %>